html{
    font-size:15px;
    box-sizing: border-box
  }
  body, #root{
    height:100vh;
    width: auto;
    margin: 0
  }
  
  .App-header {
    background-color: orange;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  .div1{
    background-color:orange
  }
  
  input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  input[type=submit] {
    width: 60%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  /* div {
    border-radius: 30px 30px;
    background-color:rgb(220, 220, 220);
    margin: auto;
    padding: 5px;
    
  } */
  .cmts{
    width: 100%;
    height: 60px;
    border-radius: 5px;
    border: none;
  }
  .center {
    margin: auto;
    width: 60%;
    padding: 10px;
  }
  .button {
    background-color: ghostwhite;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
  }
  button:hover {
    background-color:skyblue
  }
  table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  div{
    background-color:white
  }
  .button1 {
    width: 100px;
    background-color:#008CBA;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: left;
  }
  